<h1>Welcome to My New Rails Forum!</h1>



<% @categories.each do |category| %>
	<div>
		<h3><%= category.name %></h3>
		<ul>
			<% category.topics.each do |topic| %>
				<li><%= topic.name%></li>
			<% end %>
		</ul>
	</div>
<% end %>